# Python bytecode
__pycache__/

# Python virtual environment
venv/
*.local

firebase-key.json
scratch/test_gemini.js
.env

# SQLite Databases
*.db

# Virtual environments
my_mac_env/
node_modules/
*.log
.DS_Store
static/uploads/
static/digital_content/
*.db-shm
*.db-wal

# Build artifacts
*.zip
*.egg-info/
dist/
build/